subjectKeyIdentifier=hash
authorityKeyIdentifier=keyid, issuer
basicConstraints=CA:TRUE

[ca]
default_ca=root_ca

[root_ca]
certificate=artifacts/root-ca.crt
database=artifacts/root-crl-index.txt
default_md=sha256
private_key=artifacts/root-ca.key
